.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #54cb64;
    padding: 10px 20px;
  }
  
  .logo {
    align-self: start;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .nav-links li a:hover {
    color: #666;
  }
  